.content-header {
    background-color: #fff !important;
    padding: 15px;
}

.my-5 {
    margin: 0 5px;
}

.bg-white {
    background: #fff;
}

.border-top {
    border-radius: 10px 10px 0 0;
}

.border-bottom {
    border-radius: 0 0 10px 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.btn-in-select2 {
    padding: 6px;
    height: 20px;
    display: inline-table;
    width: 100%;
    text-align: center;
}

.skin-green .main-header .logo {
    background: #222d32 !important;
}

@media print{
	.form-control {
		/* border: none; */
		/* background-color: #ced4da !important; */
		
	}
}